.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files {
  width: 100%;
  border-collapse: collapse;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files tr {}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files td, .admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files th {
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  border: 1px solid #C0C0C0;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files th {
  background-color: #E0DBD0;
  vertical-align: middle;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files a{
  color: #0080FF;
  text-decoration: none;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_files a:hover{
  text-decoration: underline;
}

.zibalpaiddownloads_buttons {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
}

.zibalpaiddownloads_pageswitcher {
  margin-right: 200px;
  float: left;
}

.zibalpaiddownloads_pageswitcher div {
  float: none !important;
}

.zibalpaiddownloads_legend {
  margin-top: 50px;
}

.zibalpaiddownloads_legend p {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 100%;
  overflow: hidden;
}

.zibalpaiddownloads_legend img {
  float: right;
  margin-right: 10px;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions {
  width: 100%;
  border-collapse: collapse;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions em{
  font-size: 11px;
  color: #A0A0A0;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions tr {}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions td, .admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions th {
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  border: 0px solid #C0C0C0;
  text-align: right;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions th {
  width: 180px;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions a{
  color: #0080FF;
  text-decoration: none;
}

.admin_zibalpaiddownloads_wrap table.zibalpaiddownloads_useroptions a:hover{
  text-decoration: underline;
}

.zibalpaiddownloads_historytable {
  border-collapse: collapse;
  width: 100%;
}

.zibalpaiddownloads_historytable td, .zibalpaiddownloads_historytable th {
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  border: 1px solid #C0C0C0;
}

.zibalpaiddownloads_historytable th {
  background-color: #E0DBD0;
  vertical-align: middle;
}

.zibalpaiddownloads_historytable td input {
  margin: 0px;
  padding: 2px 0px;
  border: 1px solid #C0C0C0;
  background-color: #FFFFFF;
  font-family: arial;
  font-size: 13px;
}

div.postbox div.inside {
  margin: 10px;
  position: relative;
  height: 100%;
  overflow: hidden;
}

div.zibalpaiddownloads_payment_selector {
  height: 100%;
  overflow: hidden;
  color: #808080;
  font-family: arial, verdana;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
}

div.zibalpaiddownloads_payment_selector div.payment_selector_button {
  width: 240px;
  min-height: 60px;
  border: 2px solid #F4F4F4;
  background-color: #FCFCFC;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

div.zibalpaiddownloads_payment_selector div.payment_selector_button:hover {
  border: 2px solid #E4E4E4;
}

div.zibalpaiddownloads_payment_selector div.payment_selector_button input.zibalpaiddownloads_delivery_email {
  border: 1px solid #C0C0C0;
  background: #FFFFFF;
  color: #A0A0A0;
  font-family: arial;
  font-size: 12px;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 90%;
  line-height: 14px;
}

div.zibalpaiddownloads_payment_selector table.payment_selector_summary {
  border: 0px;
  text-align: left;
  margin: 8px 0px;
}

div.zibalpaiddownloads_payment_selector table.payment_selector_summary td {
  vertical-align: middle;
  padding: 2px;
}

a.zibalpaiddownloads_button_link {
  text-decoration: none !important;
}

a.zibalpaiddownloads_button_link img{
  background: transparent !important;
  border: 0px solid transparent !important;
  padding: 0px !important;
}

#zibalpaiddownloads_currency_notes {
  color: #A0A0A0;
  font-size: 11px;
}

.zibalpaiddownloads_errorbox {
  background: #FFE8E0 url(../images/failed01.png) 10px 5px no-repeat !important;
  margin: 5px 0px !important;
  padding: 5px 10px 5px 30px !important;
  color: red !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-align:left !important;
  border: 1px dotted red !important;
  font-family: arial, verdana  !important;
  line-height: 16px !important;
}

.paiddownoads_button {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.zibalpaiddownloads_terms {
  height: 120px;
  overflow: scroll;
  border: 2px solid #888;
  line-height: 18px;
  font-size: 13px;
  font-family: tahoma;
  padding: 3px;
}

.zibalpaiddownloads-btn{
  font-family: tahoma, tahoma, sans-serif;
  text-decoration: none !important;
  background: #80a9da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#80a9da, 0), color-stop(#6f97c5, 1));
  background: -webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
  padding-right: 20px;
  padding-left: 80px;
  height: 38px;
  line-height:30px !important;
  display: inline-block;
  position: relative;
  border: 1px solid #5d81ab;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(188, 188, 188, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(188, 188, 188, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(188, 188, 188, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  float: right;
  clear: both;
  margin: 10px 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.zibalpaiddownloads-btn-text{
  font-family: tahoma, tahoma, sans-serif;
  line-height:33px !important;
  display: block;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
  color: #446388;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.zibalpaiddownloads-btn-slide-text{
  font-family: tahoma, tahoma, sans-serif;
  line-height:38px !important;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 82px;
  width: 0px;
  background: #63707e;
  text-shadow: 0px -1px 1px #363f49;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  text-indent: 10px;
  overflow: hidden;
  line-height: 38px;
  -webkit-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.zibalpaiddownloads-btn-icon-right{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 52px;
  border-right: 1px solid #5d81ab;
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4);
}

.zibalpaiddownloads-btn-icon-right span{
  width: 38px;
  height: 38px;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -20px;
  background: transparent url(../images/arrow_right.png) no-repeat 50% 55%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.zibalpaiddownloads-btn:hover{
  padding-left: 180px;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.zibalpaiddownloads-btn:hover .zibalpaiddownloads-btn-text{
  text-shadow: 0px 1px 1px #5d81ab;
  color: #fff;
}

.zibalpaiddownloads-btn:hover .zibalpaiddownloads-btn-slide-text{
  width: 100px;
}

.zibalpaiddownloads-btn:hover .zibalpaiddownloads-btn-icon-right span{
  opacity: 1;
}

.zibalpaiddownloads-btn:active{
  position: relative;
  top: 1px;
  background: #5d81ab;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #80a9da;
}

.container-tab{
  width: 800px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 0px;
  font-size:8pt;
  font-weight:bold;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}
.enput{
  direction: ltr;
  text-align:left;
}
